body
{
    font-family: 'Raleway', sans-serif;
    margin: 30px 20px;
}
.logo
{
    max-width: 7%;
    height: auto;
    float: left;
}
nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2em;
}
nav ul li a:hover
{
    font-weight: bolder;
}
nav ul li a:hover
{
    display: inline-block;
    position: relative;
    color: #0065FC;
    text-decoration: none;
}
nav ul li a:hover
{
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    transition: all .3s; 
}
nav ul li a:hover
{
    width: fit-content;
    
}
nav ul li a 
{
    text-decoration: none;
    padding-left: 2em;
    padding-right: 2em;
}
main
{
    display: flex;
    justify-content: space-around ;
}
container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hebergements
{
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 20px 10px 10px 10px; 
    width: 60%;
    height: auto;
}
.boxhebergements
{
    width: 31vh;
    height: auto;
    background-color: white;
    border-radius: 25px;
    padding: 1vh;
    margin-bottom: 5vh;
    box-shadow: 4px 2px 20px rgb(201, 201, 201);
}
.imagehebergements
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 31vh;
    height: 15vh;
    object-fit: cover; 
}
a
{
    text-decoration: none;
    color: black;
}
.etoiles
{
    color: #0065FC;
    font-size: 1.5vh;
    margin-left: 10px;
}
h2
{
    margin-left: 25px;
}
h4
{
    font-size: 2.4vh;
    margin-left: 10px;
    margin-top: 2px;
}
p
{
    font-size: 2vh;
    margin-left: 10px;
}
.plusderesultats
{
    font-weight: bold;
    font-size: 2.5vh;
    margin-left: 4vh;
}
.populaires
{
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 20px 10px 10px 10px; 
    width: 30%;
    height: auto; 
    position: relative;
}
.boxpopulaires
{
    width: 50vh;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 1vh;
    margin-bottom: 5vh;
    box-shadow: 4px 2px 20px rgb(201, 201, 201);
}
.imagepopulaires
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 18vh;
    height: 18vh;
    object-fit: cover;
    float: left;
    padding-right: 10px;
    margin-right: 10px;
}
.charticon
{
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: 3.5vh;
}
