*
{
    margin: 0;
}
body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
header
{
    display: flex;
    justify-content: space-between;
}
.logo
{
    margin: 3vw 3vw 1.5vw 3.3vw;
    width: 100px;
    height: auto;
}
nav
{
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
}
nav ul
{
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-right: 2vw;
}
nav ul li
{
    border-top: solid 2.5px transparent;
    padding: 38px 30px 0 30px;
}
nav ul li:hover
{
    border-top: solid 2.5px #0065FC;
}
.menuitem a:hover
{
    color: #0065FC;
}
.sinscrire
{
    font-weight: bolder;
    font-size: 16px;
    color: #0065FC;
    float: right;
    margin-right: 3.3vw;
    padding-top: 38px; 
}
.recherche
{
    margin-left: 3.3vw;
}
.recherche h1
{
    font-size: 22px;
    margin-top: 1vw; 
    clear: left;
}
.recherche p
{
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 16px;
}
.search
{
    display: flex;
    height: 50px;
    margin-bottom: 30px;
}
.mapmarker
{
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    font-size: 1.2em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
}
.searchfield
{
    width: 235px;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: initial;
    padding-left: 20px;
}
.searchbutton
{ 
    width: 132px;
    background-color: #0065FC;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: initial;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    position: relative;
    cursor: pointer;
}
#searchbutton
{ 
    width: 50px;
    height: 50px;
    background-color: #0065FC;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: initial;
    color: white;
    border-radius: 15px;
    border: none;
    position: absolute;
    left: 19em;
    cursor: pointer; 
}
.filter
{
    margin-left: 3.3vw;
}
.filtres
{
    margin-bottom: 20px;
}
.filterstitle
{
    float: left;
    margin-right: 2.2vw;
    padding-top: 15px;
}
.icontextfilters
{
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 1.5vmax;
    border-top: solid #e0e0e0 2px;
    border-right: solid #e0e0e0 2px;
    border-bottom: solid #e0e0e0 2px;
    border-left: none;
    border-radius: 60px;
    padding: 0.9em;
    padding-left: 0; 
}
.icontextfilters:hover
{
    background-color: #f1f7ff;
    transform: scale(1.05);
    transition: 0.4s;
}
.filtericon
{
    background-color: #DEEBFF;
    padding: 17px 16px 17px 18px;
    margin-right: 15px;
    border-radius: 50%;
    color: #0065FC;
}
.filtericonfamilial
{
    background-color: #DEEBFF;
    padding: 16px 18px 17px 20px;
    margin-right: 15px;
    border-radius: 50%;
    color: #0065FC;
}
.filtericoneconomique
{
    background-color: #DEEBFF;
    padding: 17px 15px 17px 16px;
    margin-right: 15px;
    border-radius: 50%;
    color: #0065FC;
}
.infoicon
{
    float: left;
    margin-right: 12px;
    font-size: 0.8em;
    border: solid #F2F2F2 2px;
    border-radius: 50%;
    color: #0065FC;
    padding: 0.4em 0.85em;
}
.filter p
{
    margin-top: 28px;
    font-size: 1em;
}
main
{
    display: flex;
    justify-content: space-between;
    margin: 0 3.3vw;
}
.principal
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.container
{
    background-color: #F2F2F2;
    border-radius: 25px;
    margin-top: 2.5vw;
    width: 67%;
}
.boxhebergements
{
    width: 16.5vw;
    height: 13vw;
    background-color: white;
    border-radius: 25px;
    padding: 0.35em;
    margin: 10px 0 25px 0;
    box-shadow: 4px 2px 20px rgb(201, 201, 201);
}
.boxhebergements:hover
{
    transform: scale(1.05);
    transition: 0.4s;
}
.imagehebergements
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 59%;
    -o-object-fit: cover;
       object-fit: cover;
}
.etoiles
{
    color: #0065FC;
    font-size: 0.8vw;
    margin-left: 10px;
    margin-top: 0;
}
.etoilegrise
{
    color: rgb(201, 201, 201); 
    font-size: 0.8vw;
}
.etoilespopulaires
{
    color: #0065FC;
    font-size: 0.8vw;
    margin-left: 10px;
    margin-top: 30px;
}
h2
{
    font-size: 1.7vmax;
    margin: 3.3vw 0 1.2vw 2.8vw;
}
h4
{
    font-size: 1.2vw;
    margin-left: 10px;
    margin-top: 2px;
    padding-bottom: 0;
    margin-bottom: 0;
}
p
{
    font-size: 1vw;
    margin: 2px 0 10px 10px;  
}
a
{
    text-decoration: none;
    color: black;
}
.plusderesultats
{
    font-weight: bold;
    font-size: 1.2vmax;
    margin-left: 2.8vw;
}
.populaires
{
    background-color: #F2F2F2;
    border-radius: 25px;
    width: 31%;
    margin-top: 2.5vw;
    padding-bottom: 20px;
    position: relative;
}
.charticon
{
    position: absolute;
    top: 3.3vw;
    right: 3vw;
    font-size: 1.6vw;
}
.boxpopulaires
{
    display: inline-block;
    padding: 0.35em;
    width: 23vw;
    height: 9.5vw;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 2px 20px rgb(201, 201, 201);
}
.boxpopulaires:hover
{
    transform: scale(1.05);
    transition: 0.4s;
}
.imagepopulaires
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 40%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    float: left;
    padding-right: 10px;
    margin-right: 0.8vw;
}
.asidepopulaires
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgb(230, 230, 230);
}
figure:hover
{
    transform: scale(1.05);
    transition: 0.4s;
}
figcaption
{
    font-weight: bold;
    font-size: 1.2vmax;
    margin-left: 1.4em;
    margin-top: 0.3em;
}
#Activites h2
{
    margin: 4vw 2.2vw 2vw 3.5vw;
}
.sectionactivites
{
    display: flex;
    justify-content: space-between;
    margin: 0 3.3vw 3.5vw; 
    height: 31.5vw;
}
.boxactivites_1
{
    display:flex; 
    padding: 0;
}
.boxactivites_2
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
}
.boxactivites_a
{
    width: 21vw;
    padding: 0;
    margin: 0;
}
.boxactivites_b
{
    width: 21vw;
    height: 50%;
    padding: 0;
    margin: 0;  
}
.boxactivites_c
{
    width: 21vw;
    height: 41%;
    padding: 0;
    margin: 0;
}
.imageactivites_a
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 85%;
    padding-bottom: 10px;
    -o-object-fit: cover;
       object-fit: cover;
}
.imageactivites_b
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 70%;
    padding-bottom: 10px;
    -o-object-fit: cover;
       object-fit: cover; 
}
.imageactivites_c
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 63%;
    padding-bottom: 10px;
    -o-object-fit: cover;
       object-fit: cover;
}
footer
{
    display: flex;
    background-color: #F2F2F2;
    padding-bottom: 30px;
    padding-top: 40px;
}
footer h5
{
    font-size: 1.2vw;
    margin-bottom: 1.4em;
    padding: 0;
}
footer ul
{
    padding: 0;
}
footer ul li
{
    list-style-type: none;
    margin-bottom: 1.2em;
    font-size: 1.1vw;
}
.apropos
{
    margin-right: 13vw;
    margin-left: 3.5vw;
}
.hebergementsfooter
{
    margin-right: 13vw;
    margin-left: 3.5vw;
}
.assistance
{
    margin-right: 13vw;
    margin-left: 3.5vw;
}
.apropos ul li:hover, .hebergementsfooter ul li:hover, .assistance ul li:hover
{
    -webkit-text-stroke: 1px black;
}
@media screen and (min-width: 500px) and (max-width: 5000px)
{
  #searchbutton
  {
    color: transparent;
    background-color: transparent;
  }

}
@media screen and (max-width: 980px)
{
    .container
    {
        padding-bottom: 25px;
    }
    .principal
    {
        margin-bottom: 1vw;
    }
    .boxhebergements
    {
        width: 22vw;
        height: 17vw;
    }
    .imagepopulaires
    {
        padding-right: 0.6vw;
    }
    .plusderesultats
    {
        font-size: 1.6vw;
    }
}
@media screen and (max-width: 800px)
{
    main 
    {
        flex-direction: column-reverse;
    }
    .populaires
    {
        width: 100%; 
    }
    h2 
    {
        font-size: 2vw;
    }
    .charticon
    {
        font-size: 2vw;
    }
    .asidepopulaires
    {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .boxpopulaires
    {
        width: 28vw;
        height: 12vw;
    }
    .container
    {
        width: 100%;
    }
    .boxhebergements
    {
        width: 25vw;
        height: 20vw;
    }
    h4 
    {
        font-size: 1.7vw;
    }
    .boxhebergements p, .boxpopulaires p 
    {
        font-size: 1.4vw;
    }
    .etoiles, .etoilegrise
    {
        font-size: 1.4vw;
        margin-top: 10px;
    }
    .etoilespopulaires
    {
        font-size: 1.4vw;
        margin-top: 20px;
    }
    .imageactivites_a, .imageactivites_b, .imageactivites_c
    {
        padding-bottom: 0.2vw;
    }
    figcaption
    {
        font-size: 1.3vw;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px)
{
    .container h2, .populaires h2
    {
        font-size: 3.8vw;
    }
    .charticon
    {
        font-size: 3.8vw;
    }
    h4
    {
        font-size: 2.6vmax;
        margin-top: 1vw;
    }
    .asidepopulaires
    {
        display: flex;
        flex-direction: column;
    }
    .populaires .etoilegrise
    {
        font-size: 2.3vw; 
        margin-top: 3vw;
    }
    .etoilespopulaires
    {
        font-size: 2.3vw;
        margin-top: 11vw;
    }
    .boxpopulaires:nth-child(2) .etoilespopulaires
    {
        margin-top: 7vw;
    }
    .populaires
    {
        margin-bottom: 20px;
    }
    .boxpopulaires
    {
        width: 80vw;
        height: 25vw;
    }
    .imagepopulaires
    {
        padding-right: 2vw;
    }
    .principal
    {
        margin-bottom: 0;
    }
    .principal h4
    {
        font-size: 2.2vw;
    }
    .principal p
    {
        font-size: 2vw;
    }
    .populaires p 
    {
        font-size: 3vw;
    }
    .etoiles, .etoilegrise
    {
        font-size: 1.8vw;
    }
    .boxhebergements
    {
        width: 35vw;
        height: 28vw;
    }
    .plusderesultats
    {
        font-size: 2vmax;
    }
    #Activites
    {
        width: 100vw;
        margin: 0;
    }
    #Activites h2
    {
        font-size: 3.8vw;
        margin-left: 4vw;
        margin-bottom: 30px;
    }
    .sectionactivites
    {
        flex-wrap: wrap;
        height: auto;
        margin: 0 30px;
        margin-bottom: 2.5vw;
    }
    .boxactivites_1
    {
        width: 33%;
    }
    .boxactivites_2
    {
        flex-direction: row;
        width: 66%;
    }
    .boxactivites_a, .boxactivites_b, .boxactivites_c
    {
        width: 28vw;
        height: 24vw;
        margin-bottom: 25px;
    }
    .boxactivites_b, .boxactivites_c
    {
        flex-direction: row;
        margin-left: 0.7vw;
    }
    .imageactivites_a, .imageactivites_b, .imageactivites_c
    {
        height: 18vw;
        padding-bottom: 1vw;
    }
    figcaption 
    {
        font-size: 1.8vw;
    }
    footer
    {
        padding-top: 3vw;
    }
    footer h5 
    {
        font-size: 2vw;
    }
    footer ul li 
    {
        font-size: 1.6vw;
    }
}
@media screen and (max-width: 500px)
{
    *
    {
        margin: 0;
    }
    body
    {
        margin: 0;
    }
    .logo
    {
        margin-top: 25px;
    }
    header
    {
        flex-wrap: wrap-reverse;
    }
    nav ul
    {
        margin-right: 0;
        width: 100vw;
    }
    nav ul li 
    {
        border-bottom: solid 2.5px #F2F2F2;
        padding-bottom: 15px; 
    }
    .menuitem 
    {
        text-align: center;
        width: 100%;
    }
    h1 
    {
        margin: 20px 0px 0px 6px;
    }
    nav ul li:hover
    {
        border-bottom: solid 2.5px #0065FC;
        border-top: solid 2.5px transparent;
        padding-bottom: 10px;
    }
    .sinscrire
    {
        margin-right: 25px;
    }
    .recherche p 
    {
        margin: 10px 6px 35px 6px;
    }
    .search 
    {
        width: 100%;
        margin: 20px 6px 10px 6px;
    }
    .searchfield
    {
        width: 75%;
    }
    .searchbutton
    {
        display: none;
    }
    #searchbutton
    {
        color: white;
        background-color: #0065FC;
    }
    .filterstitle
    {
        width: 100%;
        margin: 10px 0px 10px 6px;
    }
    main 
    {
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
    }
    h2 
    {
        margin: 35px 10px 10px 25px;
        font-size: 3.5vmax;
    }
    .principal p, .populaires p 
    {
        font-size: 3vw;
    }
    .charticon
    {
        font-size: 3.5vmax;
        margin: 22px 10px 0px 0px;   
    }
    h4
    {
        font-size: 2.5vmax;
    }
    figcaption 
    {
        font-size: 2.5vmax;
        margin-top: 2.3vw;
    }
    .etoiles, .etoilegrise, .etoilespopulaires
    {
        font-size: 3vw;
    }
    .etoilespopulaires
    {
        margin-top: 55px;
    }
    .populaires
    {
        border-radius: 0; 
        margin-top: 30px;
    }
    .asidepopulaires
    {
        flex-direction: column;
    }
    .boxpopulaires
    {
        width: 85%;
        height: 142px;
        margin-bottom: 5px;
    }
    .imagepopulaires
    {
        margin-right: 2.5vw;
    }
    .principal
    {
        margin-bottom: 10px;
    }
    .container
    {
        background-color: white;
        margin-top: 10px;
    }
    .boxhebergements
    {
        width: 85%;
        height: 190px;
    }
    .plusderesultats
    {
        font-size: 18PX;
        margin-left: 20px;
    }
    #Activites
    {
        width: 100vw;
        margin: 0;
    }
    #Activites h2
    {
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .sectionactivites
    {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 0;
        margin-bottom: 25px;
        width: 100%;
    }
    .boxactivites_1
    {
        width: 85%;
        justify-content: center;
    }
    .boxactivites_2
    {
        flex-direction: column;
        width: 85%;
        align-items: center;
    }
    .boxactivites_a, .boxactivites_b, .boxactivites_c
    {
        width: 100%;
        height: 190px;
        margin-bottom: 25px;
    }
    .imageactivites_a, .imageactivites_b, .imageactivites_c
    {
        height: 135px;
    }
    footer 
    {
        flex-direction: column;
        padding-bottom: 10px;
    }
    footer h5
    {
        font-size: 18px;
    }
    footer ul
    {
        padding: 3px 0 10px 0;
    }
    footer ul li
    {
        font-size: 16px;
    }
    .apropos, .hebergementsfooter, .assistance
    {
        margin-left: 30px;
        margin-bottom: 10px;
    }
}

    
   
    

    
    
    
